:root {
  --main-color: #3D5DA7;
  --second-color: #ED3B93;
}

body {
  direction: rtl !important;
  font-family: "Cairo", sans-serif;
}

.btn-blue {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-red {
  background-color: var(--second-color);
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #283D6A;
}

.btn-red:hover {
  background-color: #BE2F4B;
}