<footer class="dashboard-footer" dir="rtl">
  <div class="footer-container">
    <div class="footer-left">
      <p class="m-0">
        تم تطويره بواسطة شركة <a href="https://mogasoft.net" target="_blank">موجاسوفت</a> &copy; {{ currentYear }}
        جميع
        الحقوق محفوظة.
      </p>
    </div>

    <div class="footer-right">
      <ul class="footer-links">
        <li><a target="_blank" href="/privacy-policy">سياسة الخصوصية</a></li>
        <li><a target="_blank" href="/terms-of-use">شروط الاستخدام</a></li>
        <li><a target="_blank" href="/contact-us">تواصل معنا</a></li>
      </ul>
      <div class="footer-contact">
        <span> mogasoftsupport.com<i class="fas fa-envelope"></i></span>
        <span>+201501200120<i class="fas fa-phone"></i></span>
      </div>
    </div>
  </div>
</footer>