<main id="list-patients">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-lg-2" *ngFor="let status of patientStatuses">
        <div class="card text-white p-3 text-center" [ngStyle]="{ 'background-color': status.color }">
          <h4>{{ status.name }}</h4>
          <p class="mt-0 fs-5">{{ status.count }} مريض</p>
        </div>
      </div>
    </div>

    <div class="card p-3 mt-4">
      <form (submit)="applyFilters($event)">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-3">
                <input type="text" class="form-control shadow-none" placeholder="إسم المريض" [(ngModel)]="filters.name"
                  name="name" />
              </div>

              <div class="col-lg-3">
                <select class="form-select shadow-none" [(ngModel)]="filters.status" name="status">
                  <option selected disabled value="">كل الحالات</option>
                  <option *ngFor="let status of patientStatuses" [value]="status.name">
                    {{ status.name }}
                  </option>
                </select>
              </div>

              <div class="col-lg-3">
                <input type="date" class="form-control shadow-none" placeholder="التاريخ من" name="fromDate" />
              </div>

              <div class="col-lg-3">
                <input type="date" class="form-control shadow-none" placeholder="التاريخ إلى" name="toDate" />
              </div>
            </div>


          </div>
          <div class="col-lg-4">
            <div class="row g-2">
              <div class="col-lg-6">
                <button type="submit" class="btn-blue w-100">تطبيق</button>
              </div>
              <div class="col-lg-6">
                <button (click)="resetFilters()" type="button" class="btn-red w-100">مسح الفلترات</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>


    <table class="table table-hover text-center mt-4">
      <thead>
        <tr>
          <th>الرقم</th>
          <th>الاسم</th>
          <th>العمر</th>
          <th>الحالة</th>
          <th>إجرائات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of filteredPatients">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>
            <p class="fw-bold text-white" *ngIf="patient.status"
              [ngStyle]="{ backgroundColor: getStatusColor(patient.status) }">
              {{ patient.status }}
            </p>
          </td>
          <td>
            <button class="btn btn-link text-primary">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-link text-danger">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</main>