.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}


table {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  border: none;
}

th {
  background-color: var(--main-color);
  color: #ffffff;
}

th,
td {
  border: none;
  padding: 15px;
}

.badge {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  padding: 5px 20px;
  border-radius: 8px;
}

.table td p {
  font-size: 14px;
  padding: 4px 5px 7px;
  border-radius: 8px;
  color: white;
  margin: 0 !important;
  transition: all 0.3s ease;
}