.col-3,
.col-9 {
  padding: 0 !important;
}

.col-3 {
  width: 15.5% !important;
}

.col-9 {
  background-color: #F1F4F9;
  margin-right: 15.5% !important;
  width: calc(100% - 15.5%) !important;
  transition: margin-right 0.3s ease, width 0.3s ease;
}

.col-9.sidebar-collapsed {
  margin-right: 5% !important;
  width: calc(100% - 5%) !important;
}

.col-3 .sidebar.collapsed~.col-9 {
  margin-right: 5% !important;
  width: calc(100% - 5%) !important;
}