<div class="sidebar py-2" [class.collapsed]="isCollapsed">
  <button class="toggle-btn" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
    <i class="fa" [ngClass]="{'fa-arrow-right': isCollapsed, 'fa-arrow-left': !isCollapsed}"></i>
  </button>

  <div class="user-profile">
    <img src="assets/vendors/imgs/logo.png" class="img-fluid" alt="Logo" />
  </div>

  <ul class="menu p-2">
    <hr class="m-0 p-0" />
    <li>
      <a routerLink="/home" routerLinkActive="activSide" (click)="toggleSubMenu('home')">
        <i class="fa-solid fa-house"></i>
        <span *ngIf="!isCollapsed">لوحة البيانات</span>
      </a>
    </li>

    <hr class="m-0 p-0" *ngIf="!isCollapsed" />

    <li>
      <a (click)="toggleSubMenu('patients')" [class.activSide]="activeMenu === 'patients'">
        <i class="fa-solid fa-users"></i>
        <span *ngIf="!isCollapsed">المرضى</span>
        <i class="fa me-auto" [ngClass]="{
          'fa-chevron-up': activeMenu === 'patients',
          'fa-chevron-down': activeMenu !== 'patients'
        }" *ngIf="!isCollapsed"></i>
      </a>
      <ul class="submenu" [ngClass]="{'open': activeMenu === 'patients' && !isCollapsed}" *ngIf="!isCollapsed">
        <li>
          <a routerLink="/patients/list" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/patients/list'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>إدارة المرضى
          </a>
        </li>
        <li>
          <a routerLink="/patients/add" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/patients/add'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>إضافة مريض
          </a>
        </li>
        <li>
          <a routerLink="/patients/appointments" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/patients/appointments'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>المواعيد
          </a>
        </li>
        <li>
          <a routerLink="/patients/affairs" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/patients/affairs'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>شؤون المرضى
          </a>
        </li>
      </ul>
    </li>

    <hr class="m-0 p-0" *ngIf="!isCollapsed" />
    <li>
      <a (click)="toggleSubMenu('appointments')" [class.activSide]="activeMenu === 'appointments'">
        <i class="fa-solid fa-calendar-check"></i>
        <span *ngIf="!isCollapsed">الحجوزات</span>
        <i class="fa me-auto" [ngClass]="{
          'fa-chevron-up': activeMenu === 'appointments',
          'fa-chevron-down': activeMenu !== 'appointments'
        }" *ngIf="!isCollapsed"></i>
      </a>
      <ul class="submenu" [ngClass]="{'open': activeMenu === 'appointments' && !isCollapsed}" *ngIf="!isCollapsed">
        <li>
          <a routerLink="/appointments/list" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/appointments/list'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>إدارة الحجوزات
          </a>
        </li>
        <li>
          <a routerLink="/appointments/add" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/appointments/add'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>إضافة حجز
          </a>
        </li>
        <li>
          <a routerLink="/appointments/settings" routerLinkActive="activSub"
            [class.activSub]="activeSubmenuRoute === '/appointments/settings'" class="a-subMenu">
            <i class="fa-solid fa-circle"></i>إعدادات الحجز
          </a>
        </li>
      </ul>
    </li>
    <hr class="m-0 p-0" *ngIf="!isCollapsed" />
  </ul>

  <div class="logout d-flex align-items-center justify-content-center px-4 text-danger" (click)="logout()">
    <a class="text-decoration-none text-danger" *ngIf="!isCollapsed">تسجيل الخروج</a>
    <i class="fa fa-sign-out-alt me-auto"></i>
  </div>
</div>